[submodule "tests/resources/spring-petclinic"]
	path = tests/resources/spring-petclinic
	url = https://github.com/spring-projects/spring-petclinic.git
[submodule "scripts/resources/datasets/commons-bcel"]
	path = scripts/resources/datasets/commons-bcel
	url = https://github.com/apache/commons-bcel
[submodule "scripts/resources/datasets/commons-beanutils"]
	path = scripts/resources/datasets/commons-beanutils
	url = https://github.com/apache/commons-beanutils
[submodule "resources/datasets/commons-bcel"]
	path = resources/datasets/commons-bcel
	url = https://github.com/apache/commons-bcel
[submodule "resources/datasets/commons-beanutils"]
	path = resources/datasets/commons-beanutils
	url = https://github.com/apache/commons-beanutils
[submodule "resources/datasets/commons-bsf"]
	path = resources/datasets/commons-bsf
	url = https://github.com/apache/commons-bsf
[submodule "resources/datasets/commons-cli"]
	path = resources/datasets/commons-cli
	url = https://github.com/apache/commons-cli
[submodule "resources/datasets/commons-codec"]
	path = resources/datasets/commons-codec
	url = https://github.com/apache/commons-codec
[submodule "resources/datasets/commons-collections"]
	path = resources/datasets/commons-collections
	url = https://github.com/apache/commons-collections
[submodule "resources/datasets/commons-configuration"]
	path = resources/datasets/commons-configuration
	url = https://github.com/apache/commons-configuration
[submodule "resources/datasets/commons-crypto"]
	path = resources/datasets/commons-crypto
	url = https://github.com/apache/commons-crypto
[submodule "resources/datasets/commons-csv"]
	path = resources/datasets/commons-csv
	url = https://github.com/apache/commons-csv
[submodule "resources/datasets/commons-dbcp"]
	path = resources/datasets/commons-dbcp
	url = https://github.com/apache/commons-dbcp
[submodule "resources/datasets/commons-dbutils"]
	path = resources/datasets/commons-dbutils
	url = https://github.com/apache/commons-dbutils
[submodule "resources/datasets/commons-email"]
	path = resources/datasets/commons-email
	url = https://github.com/apache/commons-email
[submodule "resources/datasets/commons-exec"]
	path = resources/datasets/commons-exec
	url = https://github.com/apache/commons-exec
[submodule "resources/datasets/commons-fileupload"]
	path = resources/datasets/commons-fileupload
	url = https://github.com/apache/commons-fileupload
[submodule "resources/datasets/commons-imaging"]
	path = resources/datasets/commons-imaging
	url = https://github.com/apache/commons-imaging
[submodule "resources/datasets/commons-io"]
	path = resources/datasets/commons-io
	url = https://github.com/apache/commons-io
[submodule "resources/datasets/commons-jcs"]
	path = resources/datasets/commons-jcs
	url = https://github.com/apache/commons-jcs
[submodule "resources/datasets/commons-jexl"]
	path = resources/datasets/commons-jexl
	url = https://github.com/apache/commons-jexl
[submodule "resources/datasets/commons-lang"]
	path = resources/datasets/commons-lang
	url = https://github.com/apache/commons-lang
[submodule "resources/datasets/commons-logging"]
	path = resources/datasets/commons-logging
	url = https://github.com/apache/commons-logging
[submodule "resources/datasets/commons-math"]
	path = resources/datasets/commons-math
	url = https://github.com/apache/commons-math
[submodule "resources/datasets/commons-net"]
	path = resources/datasets/commons-net
	url = https://github.com/apache/commons-net
[submodule "resources/datasets/commons-numbers"]
	path = resources/datasets/commons-numbers
	url = https://github.com/apache/commons-numbers
[submodule "resources/datasets/commons-pool"]
	path = resources/datasets/commons-pool
	url = https://github.com/apache/commons-pool
[submodule "resources/datasets/commons-text"]
	path = resources/datasets/commons-text
	url = https://github.com/apache/commons-text
[submodule "resources/datasets/commons-validator"]
	path = resources/datasets/commons-validator
	url = https://github.com/apache/commons-validator
[submodule "resources/datasets/commons-vfs"]
	path = resources/datasets/commons-vfs
	url = https://github.com/apache/commons-vfs
