### Class {{ simple_class_name }}
#### Qualified Name
{{ qualified_class_name }}
#### Annotations
{{ class_annotations }}
#### Extends
{{ class_extends }}
#### Extra Details
{{ class_details }}

#### Fields
{{ class_field_declarations }}

#### Methods
{{ class_methods }}

#### Compilation Unit Comments
```
{{ compilation_comments }}
```